@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark *));

:root {
  --card-bg-hover: rgb(27, 30, 37);
  --card-border: #ffffff1a;
  --x-color-black: #13131988;
}

.nextra-card {
  border: 1px solid var(--card-border);
  border-radius: 4px;
}

.nextra-card:hover {
  background-color: var(--card-bg-hover);
}
