:root {
  --bg: 35 37 46;
  --bg-1: #313744;
  --bg-2: rgb(27, 30, 37);
  --muted: #ffffff1a;
}

:is(html[class~='dark'] body) {
  background-color: rgb(var(--bg));
}

:is(html[class~='dark'] .nextra-nav-container-blur) {
  background-color: rgb(var(--bg)) !important;
}

:is(html[class~='dark'] hr.dark\:nx-border-neutral-800) {
  border-color: var(--muted) !important;
}

:is(html[class~='dark'] .nextra-sidebar-container) {
  background-color: rgb(var(--bg)) !important;
}

:is(html[class~='dark'] .dark\:nx-bg-neutral-900) {
  background-color: rgb(var(--bg)) !important;
}

:is(html[class~='dark'] .dark\:nx-shadow-\[0_-12px_16px_\#111\]) {
  box-shadow: none;
}

:is(html[class~='dark'] .dark\:nx-bg-dark) {
  background-color: rgb(var(--bg));
}

:is(html[class~='dark'] .dark\:nx-bg-primary-300\/10) {
  background-color: var(--bg-2);
}

:is(html[class~='dark'] .dark\:nx-bg-primary-400\/10) {
  background-color: var(--bg-1);
}

:is(html[class~='dark'] .dark\:nx-text-primary-600),
.nx-text-primary-600 {
  color: rgb(243, 159, 71);
}

:is(html[class~='dark'] a:focus-visible),
:is(html[class~='dark'] summary:focus-visible),
:is(html[class~='dark'] button:focus-visible),
:is(html[class~='dark'] input:focus-visible),
:is(html[class~='dark'] [tabindex]:not([tabindex='-1']):focus-visible) {
  box-shadow: none;
  outline: 1px solid rgb(243, 159, 71);
}

.nx-rounded-xl {
  border-radius: 4px;
}

.nextra-card {
  border: 1px solid var(--muted) !important;
}
